
### Ignore binaries (files without extension)
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all relevant dirs
!Ausarbeitung/*
!Implementierung/*
!Vortrag/*
# Unignore main binary
!Implementierung/main
